{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<body>
    <div class="w-full h-screen relative bg-white overflow-hidden flex flex-row items-start justify-start text-left text-[1.5rem] text-foundation-grey-normal font-satoshi-body-small">
        <!-- Main Screen -->
        <div class="self-stretch flex-1 flex flex-col items-start justify-start">
            <!-- Header -->
            <div class="self-stretch bg-foundation-white-light flex flex-col items-start justify-start py-[1.25rem] px-[2.25rem] gap-[0.75rem_0rem] border-b-[1px] border-solid border-foundation-white-normal-hover">
                <div class="self-stretch overflow-hidden flex flex-row items-center justify-start gap-[0rem_2rem]">
                    <div class="flex-1 relative leading-[120%] font-medium">
                        Employee Management
                    </div>
                    <div class="flex flex-row items-center justify-start gap-[0rem_0.5rem] text-[1rem]">
                        <img class="w-[1.5rem] relative h-[1.5rem]" alt="" src="{% static "img/solarlogin3boldduotone.a3232c09.svg" %}">

                        <a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?');" class="relative leading-[120%]">Logout</a>
                    </div>
                </div>
            </div>
            <!-- Header -->

            <!-- Title and text -->
            <div class="self-stretch flex flex-col items-start justify-center pt-[2.25rem] px-[2rem] pb-[1.5rem] gap-[1.5rem_0rem] text-[2rem]">
                <div class="self-stretch flex flex-row items-start justify-between py-[0rem] pr-[2rem] pl-[0rem]">
                    <div class="relative leading-[120%] font-medium">
                        Employee Overview
                    </div>
                    <button id="openDrawerBtn" class="font-medium cursor-pointer rounded-rounded-lg bg-foundation-green-normal text-white hover:bg-foundation-green-normal-hover overflow-hidden flex flex-row items-center justify-center py-boundvariablesdata4 px-boundvariablesdata9 gap-[0rem_0.5rem] text-xl">
                        New Driver
                    </button>
                </div>
                <!--* New Driver Drawer -->
                <section id="drawer" class="h-[88vh] overflow-y-scroll hidden fixed top-[87.2px] right-0 overflow-x-hidden transition-all duration-500 z-10 bg-foundation-white-light box-border overflow-hidden flex-col items-start justify-start p-[2.25rem] text-left text-[1.5rem] font-satoshi-body-small border-l-[1px] border-solid border-foundation-white-normal-hover">
                    <form method="post" action="/register_employee/" class="self-stretch pb-12 flex flex-col items-start justify-start gap-[1.5rem_0rem] text-base">
                        {% csrf_token %}
                        <!-- New Driver title and close arrow -->
                        <div class="self-stretch flex flex-row items-center justify-between text-center">
                            <div class="relative pb-4 leading-[120%] font-medium text-5xl text-foundation-white-dark-active">
                                New Driver
                            </div>
                            <div id="closeDrawerBtn" class="px-2 py-2 cursor-pointer">
                                <img class="w-[1.25rem] relative h-[1.25rem]" alt="" src="{% static "img/solardoublealtarrowrightlineduotone.99509c5d.svg" %}">
                            </div>
                        </div>
                        <!-- New Vehicle title and close arrow -->
                        <div class="w-full">
                            <label for="name" class="block mb-2">Drivers Name</label>
                            {% render_field form.name class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="Abebe Balcha" required="" %}
                        </div>
                        <div class="w-full">
                            <label for="contactNumber" class="block mb-2">Phone Number</label>
                            {% render_field form.contact_number hx-post="/check_contact_uniqueness/" hx-target="#contact_number_error" hx-trigger="change" class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="0923344556" required="" %}
                            <div id="contact_number_error"></div>
                        </div>
                        <div class="w-full">
                            <label for="driverLicense" class="block mb-2">Driver License Number</label>
                            {% render_field form.driver_license_number hx-post="/check_license_uniqueness/" hx-target="#driver_license_number_error" hx-trigger="change" class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="2456789" required="" %}
                            <div id="driver_license_number_error"></div>
                        </div>
                        <!--* Buttons Container -->
                        <div class="self-stretch flex flex-row items-start justify-between py-2 px-0">
                            <button id="closeDrawerBtnCancel" class="w-[10.688rem] text-xl text-foundation-red-normal cursor-pointer hover:bg-foundation-white-light-active bg-transparent rounded-rounded-lg py-boundvariablesdata4 px-boundvariablesdata9 border-[1px] border-solid border-foundation-red-normal">
                                Cancel
                            </button>
                            <!-- Form submit button -->
                            <button type="submit" class="w-[10.688rem] text-xl rounded-rounded-lg bg-foundation-green-normal text-white cursor-pointer hover:bg-foundation-green-normal-hover overflow-hidden py-boundvariablesdata4 px-boundvariablesdata9">
                                Add
                            </button>
                        </div>
                        <!--* Buttons Container -->

                    </form>
                </section>
                <!--* New Driver Drawer -->

                <!-- Employee Table -->
                <div class="relative overflow-x-auto py-6 px-9">
                    <table class="w-full text-base text-left">
                        <thead class="text-foundation-white-dark-active bg-foundation-grey-light">
                            <tr>
                                <th scope="col" class="px-6 py-3">Name</th>
                                <th scope="col" class="px-6 py-3">Contact Number</th>
                                <th scope="col" class="px-6 py-3">Driver License</th>
                                <th scope="col" class="px-6 py-3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                            <tr data-href="{% url 'employee_detail' employee.id %}"  class="hover: cursor-pointer hover:bg-foundation-white-light-active">
                                <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap">{{ employee.name }}</td>
                                <td class="px-6 py-4">{{ employee.contact_number }}</td>
                                <td class="px-6 py-4">{{ employee.driver_license_number }}</td>
                                <td class="px-6 py-4"><a href="{% url 'delete_employee' employee.id %}">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Trips Table -->
            </div>
            <!-- Main Screen -->
        </div>

        <script>
            //Navigates to view trip for each table entry
            const tableRows = document.querySelectorAll(" tbody tr");
            for (const tableRow of tableRows)tableRow.addEventListener("click", function() {
                window.location.href = this.dataset.href; // opening it in a new tab
            });
            const openDrawerBtn = document.getElementById("openDrawerBtn");
            const closeDrawerBtn = document.getElementById("closeDrawerBtn");
            const closeDrawerBtnCancel = document.getElementById("closeDrawerBtnCancel");
            const drawer = document.getElementById("drawer");
            openDrawerBtn.addEventListener("click", ()=>{
                drawer.style.display = "flex";
                drawer.style.width = "480px";
            });
            closeDrawerBtn.addEventListener("click", ()=>{
                drawer.style.display = "none";
            });
            //For the Cancel button
            closeDrawerBtnCancel.addEventListener("click", ()=>{
                drawer.style.display = "none";
            });

        </script>
        <script src="{% static "js/TripManagement.js" %}"></script>
</body>
{% endblock %}
