{% extends '../base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="w-full h-screen relative bg-white overflow-hidden flex flex-row items-start justify-start text-left text-[1.5rem] text-foundation-grey-normal font-satoshi-body-small">
      <!-- Main Screen -->
      <div class="self-stretch flex-1 flex flex-col items-start justify-start">
        <!-- Header -->
        <div class="self-stretch bg-foundation-white-light flex flex-col items-start justify-start py-[1.25rem] px-[2.25rem] gap-[0.75rem_0rem] border-b-[1px] border-solid border-foundation-white-normal-hover">
          <div class="self-stretch overflow-hidden flex flex-row items-center justify-start gap-[0rem_2rem]">
            <div class="flex-1 relative leading-[120%] font-medium">
              Trip Management
            </div>
            <div class="flex flex-row items-center justify-start gap-[0rem_0.5rem] text-[1rem]">
                <img class="w-[1.5rem] relative h-[1.5rem]" alt="" src="{% static "img/solarlogin3boldduotone.a3232c09.svg" %}">

            <a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?');" class="relative leading-[120%]">Logout</a>
            </div>
          </div>
        </div>
        <!-- Header -->

        <!-- Title and text -->
        <div class="self-stretch flex flex-col items-start justify-center pt-[2.25rem] px-[2rem] pb-[1.5rem] gap-[1.5rem_0rem] text-[2rem]">
          <div class="self-stretch flex flex-row items-start justify-between py-[0rem] pr-[2rem] pl-[0rem]">
            <div class="relative leading-[120%] font-medium">
              Inventory Overview
            </div>
          </div>
        <!-- Inventory Table -->
        <div class="relative overflow-x-auto py-6 px-9">
            <table class="w-full text-base text-left">
              <thead class="text-foundation-white-dark-active bg-foundation-grey-light">
                <tr>
                  <th scope="col" class="px-6 py-3">Item</th>
                  <th scope="col" class="px-6 py-3">Quantity</th>
                  <th scope="col" class="px-6 py-3">Unit of Measerment</th>
                  <th scope="col" class="px-6 py-3">Last Restoke Date</th>
                  <th scope="col" class="px-6 py-3">Reorder Threshold</th>
                </tr>
              </thead>
              <tbody>
                {% for inv in inventories %}
                    <tr class="hover: cursor-pointer hover:bg-foundation-white-light-active">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">{{ inv.item_name }}</th>
                        <td class="px-6 py-4">{{ inv.quantity }}</td>
                        <td class="px-6 py-4">{{ inv.unit_of_measurement }}</td>
                        <td class="px-6 py-4">{{ inv.last_restoke_date }}</td>
                        <td class="px-6 py-4">{{ inv.reorder_threshold }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        <!-- Trips Table -->
      </div>
      <!-- Main Screen -->
    </div>

    <script>
        //Navigates to view trip for each table entry
        /*const tableRows = document.querySelectorAll(" tbody tr");
        for (const tableRow of tableRows)tableRow.addEventListener("click", function() {
            window.open(this.dataset.href, "_blank"); // opening it in a new tab
        });*/
        const openDrawerBtn = document.getElementById("openDrawerBtn");
        const closeDrawerBtn = document.getElementById("closeDrawerBtn");
        const closeDrawerBtnCancel = document.getElementById("closeDrawerBtnCancel");
        const drawer = document.getElementById("drawer");
        openDrawerBtn.addEventListener("click", ()=>{
            drawer.style.display = "flex";
            drawer.style.width = "480px";
        });
        closeDrawerBtn.addEventListener("click", ()=>{
            drawer.style.display = "none";
        });
        //For the Cancel button
        closeDrawerBtnCancel.addEventListener("click", ()=>{
            drawer.style.display = "none";
        });

    </script>
    <script src="{% static "js/InventoryManagement.87a856f1.js" %}"></script>
</body>
{% endblock %}
