{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<body>
    <div class="w-full relative bg-white h-screen overflow-hidden flex flex-row items-start justify-start text-left text-[1.5rem] text-foundation-grey-normal font-satoshi-body-small">
        <!-- Main Screen -->
        <div class="self-stretch flex-1 flex flex-col items-start justify-start">
            <!-- Title and text -->
            <div class="self-stretch flex flex-col items-start justify-center pt-[2.25rem] px-[2rem] pb-0 gap-[1.5rem_0rem] text-[2rem]">
                <div class="self-stretch flex flex-row items-start justify-between py-[0rem] pr-[2rem] pl-[0rem]">
                    <div class="relative leading-[120%] font-medium">{{ vehicle.registration_number }}</div>
                    <div class="flex flex-row items-start justify-start gap-[0rem_1.5rem] text-[1.25rem] text-foundation-green-normal">
                        <button id="openDrawerBtn2" class="text-xl rounded-rounded-lg cursor-pointer py-boundvariablesdata4 px-boundvariablesdata9 border-[1px] border-solid border-foundation-red-normal text-foundation-red-normal bg-white hover:bg-foundation-white-light-active">
                            Delete Vehicle
                        </button>
                        <button id="openDrawerBtn" class="font-medium text-xl cursor-pointer rounded-rounded-lg bg-foundation-green-normal text-white hover:bg-foundation-green-normal-hover overflow-hidden py-boundvariablesdata4 px-boundvariablesdata9">
                            Schedule Maintenance
                        </button>
                    </div>
                </div>

                <!--* Schedule Maintainance Drawer -->
                <!--* don't fucking ask me why 88vh works. It just does -->
                <section id="drawer" class="h-[88vh] overflow-y-scroll hidden fixed top-[87.2px] right-0 overflow-x-hidden transition-all duration-500 z-10 bg-foundation-white-light box-border overflow-hidden flex-col items-start justify-start p-[2.25rem] text-left text-[1.5rem] text-foundation-white-dark-active font-satoshi-body-small border-l-[1px] border-solid border-foundation-white-normal-hover">
                    <div class="self-stretch flex flex-col items-start justify-start gap-[2.5rem_0rem]">
                        <div class="self-stretch flex flex-row items-center justify-between text-center">
                            <div class="relative leading-[120%] font-medium">
                                Schedule Maintenance
                            </div>
                            <div id="closeDrawerBtn" class="px-2 py-2 cursor-pointer">
                                <img class="w-[1.25rem] relative h-[1.25rem]" alt="" src="{% static "img/solardoublealtarrowrightlineduotone.99509c5d.svg" %}">
                            </div>
                        </div>
                        <form method="post" action="/register_maintenance/" class="self-stretch flex flex-col items-start justify-start gap-[1.5rem_0rem] text-base text-foundation-grey-normal">
                            {% csrf_token %}
                            <div class="w-full">
                                <label for="vehicleId" class="block mb-2">Vehicle ID</label>
                                {% render_field form.vehicle value=vehicle.id readonly=True class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="A23143" required=""%}
                            </div>
                            <div class="w-full">
                                <label for="description" class="block mb-2">Description</label>
                                {% render_field form.description class="w-[90%] h-44 rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="What is wrong with the vehicle?" required="" %}
                            </div>
                            <div class="w-full">
                                <label for="scheduledDate" class="block mb-2 text-base">Scheduled Date</label>
                                {% render_field form.scheduled_date class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" required="" %}
                            </div>
                            <div class="w-full">
                                <label for="vehicleId" class="block mb-2">Vehicle ID</label>
                                {% render_field form.status readonly=True class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="A23143" required=""%}
                            </div>
                            <div class="self-stretch flex flex-row items-start justify-between py-2 px-0">
                                <button id="closeDrawerBtnCancel" class="w-[10.688rem] text-xl text-foundation-red-normal cursor-pointer hover:bg-foundation-white-light-active bg-transparent rounded-rounded-lg py-boundvariablesdata4 px-boundvariablesdata9 border-[1px] border-solid border-foundation-red-normal">
                                    Cancel
                                </button>
                                <!-- Form submit button -->
                                <button type="submit" class="w-[10.688rem] text-xl rounded-rounded-lg bg-foundation-green-normal text-white cursor-pointer hover:bg-foundation-green-normal-hover overflow-hidden py-boundvariablesdata4 px-boundvariablesdata9 ">
                                    Next
                                </button>
                            </div>
                        </form>
                        <!--* Buttons Container -->
                        
                        <!--* Buttons Container -->
                    </div>
                </section>
               <!--* Schedule Maintainance Drawer -->

                <!--! List Vehicle attributes here -->
                <div class="self-stretch flex flex-col items-start justify-start py-0 px-0 gap-4 text-[1rem]">
                    <!-- Make, Model, Year -->
                    <div class="flex flex-row items-start justify-between py-[1.5rem] gap-5">
                        <div class="flex flex-col items-start justify-start gap-[0.5rem_0rem] max-w-[7.5rem]">
                            <div class="relative leading-[120%]">Make</div>
                            <div class="rounded-3xl bg-foundation-white-normal flex flex-row items-center justify-center py-[0.5rem] px-[1rem] text-center border-[1px] border-solid border-foundation-grey-light-active">
                                <b class="relative leading-[120%]">{{ vehicle.make }}</b>
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[0.5rem_0rem] max-w-[7.5rem]">
                            <div class="relative leading-[120%]">Model</div>
                            <div class="rounded-3xl bg-foundation-white-normal flex flex-row items-center justify-center py-[0.5rem] px-[1rem] text-center border-[1px] border-solid border-foundation-grey-light-active">
                                <b class="relative leading-[120%]">{{ vehicle.model }}</b>
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start gap-[0.5rem_0rem]">
                            <div class="relative leading-[120%]">Year</div>
                            <div class="rounded-3xl bg-foundation-white-normal flex flex-row items-center justify-center py-[0.5rem] px-[1.125rem] text-center border-[1px] border-solid border-foundation-grey-light-active">
                                <b class="relative leading-[120%]">{{ vehicle.year }}</b>
                            </div>
                        </div>
                    </div>
                    <!-- Make, Model, Year -->

                    <!-- The rest of a Vehicles Details -->
                    <div class="flex flex-row justify-between w-full">
                        <div>
                            <b>Registration Number</b>
                            <p class="font-space-grostek-subheadline">{{ vehicle }}</p>
                        </div>
                        <div>
                            <b>Assigned Driver</b>
                            <p class="font-space-grostek-subheadline">{{ vehicle.driver_id }}</p>
                        </div>
                        <div>
                            <b>Last Maintainance Date</b>
                            <p class="font-space-grostek-subheadline">{{ vehicle.last_maintenance_date }}</p>
                        </div>
                        <div>
                            <b>Next Maintainance Date</b>
                            <p class="font-space-grostek-subheadline">{{ vehicle.next_maintenance_date }}</p>
                        </div>
                    </div>
                    <!-- The rest of a Vehicles Details -->
                </div>
                <!--! List Vehicle attributes here -->
            </div>
            <!-- Title and text -->

            <!-- Tables section-->
            <section class="relative overflow-x-auto py-11 px-9 pt-0 flex flex-row gap-5">
                <!-- Trips Table and Title -->
                <div class="basis-2/5">
                    <div class="text-sm self-stretch flex flex-col items-start justify-center py-6 px-0 gap-2">
                        <div class="self-stretch flex flex-col items-start justify-start">
                            <b class="relative leading-[120%]">Trip History Overview</b>
                        </div>
                    </div>
                    <table class="w-full text-base text-left">
                        <thead class="text-foundation-white-dark-active bg-foundation-grey-light">
                            <tr>
                                <th scope="col" class="px-6 py-3">Drivers Name</th>
                                <th scope="col" class="px-6 py-3">Start Location</th>
                                <th scope="col" class="px-6 py-3">End Location</th>
                                <th scope="col" class="px-6 py-3">Planned Start Time</th>
                                <th scope="col" class="px-6 py-3">Planned End Time</th>
                                <th scope="col" class="px-6 py-3">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trip in trips %}
                            <tr data-href="{% url 'trip_detail' trip.id %}" class="hover: cursor-pointer hover:bg-foundation-white-light-active">
                                <td class="px-6 py-4">{{ trip.vehicle.driver_id }}</td>
                                <td class="px-6 py-4">{{ trip.start_location_name }}</td>
                                <td class="px-6 py-4">{{ trip.end_location_name }}</td>
                                <td class="px-6 py-4">{{ trip.planned_start_time }}</td>
                                <td class="px-6 py-4">{{ trip.planned_end_time }}</td>
                                <td class="px-6 py-4">{{ trip.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Maintainance Table and Title -->
                <div>
                    <div class="text-sm self-stretch flex flex-col items-start justify-center py-6 px-0 gap-2">
                        <div class="self-stretch flex flex-col items-start justify-start">
                            <b class="relative leading-[120%]">Maintainance History Overview</b>
                        </div>
                    </div>
                    <table class="w-full text-base text-left">
                        <thead class="text-foundation-white-dark-active bg-foundation-grey-light">
                            <tr>
                                <th scope="col" class="px-6 py-3 w-[300px]">Description</th>
                                <th scope="col" class="px-6 py-3">Scheduled Date</th>
                                <th scope="col" class="px-6 py-3">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for m_order in maintenance_orders %}
                            <tr class="hover: cursor-pointer hover:bg-foundation-white-light-active">
                                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">{{ m_order.description }}</th>
                                <td class="px-6 py-4">{{ m_order.scheduled_date }}</td>
                                <td class="px-6 py-4">{{ m_order.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- Tables section -->
        </div>
        <!-- Main Screen -->
    </div>
    <script>const openDrawerBtn = document.getElementById("openDrawerBtn");
        const closeDrawerBtn = document.getElementById("closeDrawerBtn");
        const closeDrawerBtnCancel = document.getElementById("closeDrawerBtnCancel");
        const drawer = document.getElementById("drawer");
        openDrawerBtn.addEventListener("click", ()=>{
            drawer.style.display = "flex";
            drawer.style.width = "480px";
        });
        closeDrawerBtn.addEventListener("click", ()=>{
            drawer.style.display = "none";
        });
        //For the Cancel button
        closeDrawerBtnCancel.addEventListener("click", ()=>{
            drawer.style.display = "none";
        });

    </script>
    </body>
{% endblock %}
