{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extrahead %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<script>
    L_NO_TOUCH = false;
    L_DISABLE_3D = false;
</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style>
#map_a50d3f9f59adbad9e57d97d39236aa6d {
    position: relative;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
    z-index: 0;
}
.leaflet-container { font-size: 1rem; }
.leaflet-right {display: None}
</style>
{% endblock extrahead %}

{% block content %}
<body>
    <div class="w-92 relative bg-white h-screen flex flex-row items-start justify-start text-left text-[1.5rem] text-foundation-grey-normal font-satoshi-body-small">
        <!-- Main Screen -->

        <div class=" w-full self-stretch flex flex-col items-start justify-start" >
            <div class="w-full bg-foundation-white-light box-border flex flex-col items-start justify-start py-[1.25rem] px-[2.25rem] border-b-[1px] border-solid border-foundation-white-normal-hover">
                <!-- Header -->
                <div class="self-stretch overflow-hidden flex flex-row items-center justify-start gap-[0rem_2rem]">
                    <div class="flex-1 relative leading-[120%] font-medium">
                        Trip Management
                    </div>
                    <div class="flex flex-row items-center justify-start gap-[0rem_0.5rem] text-[1rem]">
                        <img class="w-[1.5rem] relative h-[1.5rem]" alt="" src="{% static "img/solarlogin3boldduotone.a3232c09.svg" %}">
                        <a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?');" class="relative leading-[120%]">Logout</a>
                    </div>
                </div>
            </div>
            <!-- Header -->

            <div class="w-screen flex-1 flex flex-col items-start justify-start text-[0.75rem]">
                <!-- Render map in here -->
                <div class="w-full h-full relative overflow-hidden shrink-0 map-object">
                    <div class="folium-map" id="map_a50d3f9f59adbad9e57d97d39236aa6d" ></div>
                </div>
                <!-- Render map here -->
                <button id="openDrawerBtn" class="fixed top-32 right-16 z-10 font-medium cursor-pointer rounded-rounded-lg bg-foundation-green-normal text-white hover:bg-foundation-green-normal-hover flex flex-row items-center justify-center overflow-hidden py-boundvariablesdata4 px-boundvariablesdata9 gap-2 w-fit text-[1.25rem] text-white">
                    <img class="w-[1.25rem] relative h-[1.25rem]" alt="" src="{% static "img/double-alt-arrow-left-white.14ea06f8.svg" %}">
                    Edit Trip
                </button>

                <!--  Drawer -->
                <!--* don't fucking ask me why 88vh works. It just does -->
                <section id="drawer" class="h-[88vh] flex w-[300px] fixed top-[87.2px] right-0 overflow-y-scroll overflow-x-hidden transition-all duration-500 z-10 bg-foundation-white-light box-border shrink-0 flex-col items-start justify-start p-[2.25rem] gap-[1.5rem_0rem] text-center text-[1rem] text-foundation-white-dark-active border-l-[1px] border-solid border-foundation-white-normal-hover"
                >
                    <!-- New trip title and close arrow -->
                    <div class="self-stretch flex flex-row items-center justify-start text-left text-foundation-grey-normal">
                        <b class="flex-1 relative leading-[120%]">Edit Trip Details</b>
                        <div id="closeDrawerBtn" class="px-2 py-2 cursor-pointer">
                            <img class="w-[1.25rem] relative h-[1.25rem]" alt="" src="{% static "img/solardoublealtarrowrightlineduotone.99509c5d.svg" %}">
                        </div>
                    </div>
                    <!-- New trip title and close arrow -->
                    <form method="post" action="{% url 'edit_trip' trip.id %}" class="w-full">
                        {% csrf_token %}
                        <div class="self-stretch flex flex-col items-start justify-start text-left text-[0.75rem] text-foundation-grey-normal">
                            <div class="self-stretch overflow-hidden flex flex-row items-center justify-between py-boundvariablesdata1 px-[0rem] text-center text-[1rem] text-foundation-blue-normal">
                                <!-- Location Info -->
                                <div class="flex flex-row items-center justify-between w-full gap-[0.875rem_0rem] text-left text-[0.75rem] text-foundation-white-dark-active">
                                    <div class="flex flex-row items-center justify-start">
                                        <div class="flex flex-col items-start justify-start gap-[0.25rem_0rem]">
                                            <b class="relative hidden leading-[120%]">{{ form.start_location }}</b>
                                            <b class="relative leading-[120%]">{{ form.start_location_name }}</b>
                                            <div class="relative text-[0.625rem] leading-[120%]">
                                                Start Location
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row items-center justify-start">
                                        <div class="flex flex-col items-start justify-start gap-[0.25rem_0rem]">
                                            <b class="relative hidden leading-[120%]">{{ form.end_location }}</b>
                                            <b class="relative leading-[120%]">{{ form.end_location_name }}</b>
                                            <div class="relative text-[0.625rem] leading-[120%]">
                                                End Location
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Location Info -->
                            </div>
                        </div>
                        <div class="self-stretch relative box-border h-[0.063rem] border-t-[1px] border-solid border-gray-200"></div>
                        <!-- Schedule Details -->
                        <div class="flex flex-col items-start justify-start gap-2 py-6">
                            <b class="relative leading-[120%]">Assign Schedule</b>
                            <div class="self-stretch flex flex-col items-start justify-start gap-[1.5rem_0rem] text-left text-foundation-grey-normal">
                                <div class="w-full flex flex-col items-start py-2">
                                    <label for="startingTimeDate" class="block mb-2 text-foundation-grey-normal">Planned Start Time</label>
                                    {% render_field form.planned_start_time readonly=True class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="2456789" required="" %}
                                </div>
                                <div class="w-full flex flex-col items-start py-2">
                                    <label for="endTimeDate" class="block mb-2 text-foundation-grey-normal">Planned End Time</label>
                                    {% render_field form.planned_end_time readonly=True class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="" required="" %}
                                </div>
                                <div class="w-full flex flex-col items-start py-2">
                                    <label for="startingTimeDate" class="block mb-2 text-foundation-grey-normal">Actual Start Time</label>
                                    {% render_field form.actual_start_time class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="2456789" required="" %}
                                </div>
                                <div class="w-full flex flex-col items-start py-2">
                                    <label for="endTimeDate" class="block mb-2 text-foundation-grey-normal">Actual End Time</label>
                                    {% render_field form.actual_end_time class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="" %}
                                </div>
                            </div>
                        </div>
                        <!-- Schedule Details -->
                        <div class="self-stretch relative box-border h-[0.063rem] border-t-[1px] border-solid border-gray-200"></div>

                        <!-- Vehicle Details -->
                        <div class="hidden flex flex-col items-start justify-start gap-2 py-6">
                            <b class="relative leading-[120%]"> Assign Vehicle</b>
                            <div class="self-stretch flex flex-col items-start justify-start gap-[1.5rem_0rem] text-left text-foundation-grey-normal">
                                <div class="w-full flex flex-col items-start py-2">
                                    <label for="registrationNumber" class="block mb-2">Vehicle License Plate</label>
                                    {% render_field form.vehicle readonly=True class="w-[90%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" placeholder="A23143" required="" %}
                                </div>
                            </div>
                        </div>
                        <!-- Vehicle Details -->
                        <!-- Status -->
                        <div class="flex flex-col items-start justify-start gap-2 py-6">
                            <b class="relative leading-[120%]">Status</b>
                            <div class="self-stretch flex flex-col items-start justify-start gap-[1.5rem_0rem] text-left text-foundation-grey-normal">
                                <div class="w-full flex flex-col items-start py-2">
                                    <label for="registrationNumber" class="block mb-2">Change Status</label>
                                    {% render_field form.status class="w-[98%] rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" required="" %}
                                </div>
                            </div>
                            <b class="relative leading-[120%] hidden">Route</b>
                            <div class="self-stretch flex flex-col items-start justify-start gap-[1.5rem_0rem] text-left text-foundation-grey-normal">
                                <div class="w-full flex flex-col items-start py-2">
                                    <label for="registrationNumber" class="hidden block mb-2">Status</label>
                                    {% render_field form.route_data id="routeDataInput" class="w-[98%] hidden rounded-xl bg-foundation-white-light-active py-boundvariablesdata8 px-boundvariablesdata1 text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline border-[1px] border-solid border-foundation-white-normal-active" required="" %}
                                </div>
                            </div>
                        </div>
                        <!-- Status -->
                        <!--* Buttons Container -->
                        <div class="self-stretch flex flex-row items-start justify-between py-2 px-0">
                            <!-- ! Return to trip management page -->
                            <button id="closeDrawerBtn" class="min-w-[10.688rem] text-xl text-foundation-red-normal cursor-pointer hover:bg-foundation-white-light-active bg-transparent rounded-rounded-lg py-boundvariablesdata4 px-boundvariablesdata9 border-[1px] border-solid border-foundation-red-normal">
                                Cancel
                            </button>
                            <!-- Form submit button -->
                            <button type="submit" class="w-[10.688rem] text-xl rounded-rounded-lg bg-foundation-green-normal text-white cursor-pointer hover:bg-foundation-green-normal-hover overflow-hidden py-boundvariablesdata4 px-boundvariablesdata9 border-[1px] border-solid border-foundation-green-normal">
                                Save
                            </button>
                        </div>
                    </form>
                </section>
                <!-- Drawer -->
            </div>
        </div>
    </div>
    <script>
        const openDrawerBtn = document.getElementById("openDrawerBtn");
        const closeDrawerBtn = document.getElementById("closeDrawerBtn");
        const drawer = document.getElementById("drawer");
        openDrawerBtn.addEventListener("click", ()=>{
            drawer.style.display = "flex";
            drawer.style.width = "300px";
            drawer.style.height = "95vh";
        });
        closeDrawerBtn.addEventListener("click", ()=>{
            drawer.style.display = "none";
            //drawer.style.width = "0px";
        });

        // Function to extract coordinates from a string
        function extractCoordinates(point) {
            var matches = point.match(/POINT \(([^)]+)\)/);
            if (matches) {
                var coordinates = matches[1].split(' ');
                return { lat: parseFloat(coordinates[1]), lon: parseFloat(coordinates[0]) };
            }
            return null;
        }

        // Extract coordinates for point1
        var point1Data = extractCoordinates("{{ trip.start_location }}");
        var lat1 = point1Data ? point1Data.lat : null;
        var lon1 = point1Data ? point1Data.lon : null;

        // Extract coordinates for point2
        var point2Data = extractCoordinates("{{ trip.end_location }}");
        var lat2 = point2Data ? point2Data.lat : null;
        var lon2 = point2Data ? point2Data.lon : null;

        console.log(lat1, lon1, lat2, lon2);
        var routeData = JSON.parse('{{ trip.route_data|safe }}');
        // console.log(routeData.coordinates);
        // Map Script
        var map_a50d3f9f59adbad9e57d97d39236aa6d = L.map(
            "map_a50d3f9f59adbad9e57d97d39236aa6d",
            {
                center: [0.0, 0.0],
                crs: L.CRS.EPSG3857,
                zoom: 2,
                zoomControl: true,
                preferCanvas: false,
            }
        );

        var mapboxAccessToken = 'pk.eyJ1IjoiaG9ycmlibGVib2IxMSIsImEiOiJjbHRnNW4wbWowcGMyMmlybnE3M3d6bGswIn0.3G3maVqRz7uZVzKlwFhTFg';
        var tile_layer_mapbox = L.tileLayer(
            "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=" + mapboxAccessToken,
            {
                attribution: "Map data &copy; <a href='https://www.mapbox.com/'>Mapbox</a> contributors, OpenStreetMap",
                id: "mapbox/streets-v12",
                tileSize: 512,
                zoomOffset: -1
            }
        );

        tile_layer_mapbox.addTo(map_a50d3f9f59adbad9e57d97d39236aa6d);

        var waypoints = routeData.coordinates.map(coord => L.latLng(coord[1], coord[0]));

        L.Routing.control({
            waypoints: [
                L.latLng(lat1, lon1),
                L.latLng(lat2, lon2)
            ],
            routeWhileDragging: false,
            addWaypoints: false, // Disable adding new waypoints
            show: false,
            lineOptions: {
                styles: [{color: 'red', opacity: 0.8, weight: 4}]
            },
        }).addTo(map_a50d3f9f59adbad9e57d97d39236aa6d);

        var coordinates = routeData.coordinates.map(coord => [coord[1], coord[0]]);

        // Create a polyline using Leaflet's L.polyline
        var polyline = L.polyline(coordinates, {
            color: 'red',
            opacity: 0.8,
            weight: 4
        }).addTo(map_a50d3f9f59adbad9e57d97d39236aa6d);

    </script>
    <script src="{% static "js/EditTrip.e100f903.js" %}"></script>
</body>
{% endblock %}
