{% extends './base.html' %}
{% load static %}

{% block main_content %}
<section>
  <!-- * If we don't this div the frame duplicates 
         * the side bar 3 times. We need this div.
    * -->
  <div class="h-screen m-auto w-full flex flex-row">
    <!-- Side Bar -->
    <div class="w-[5rem] bg-foundation-white-light box-border h-full flex flex-col items-center justify-between border-r-[1px] border-solid border-foundation-white-normal-hover">
        <img class="w-[5rem] relative h-[5rem]" alt="" src="{% static "img/logo-container.054a5658.svg" %}">
      <!-- Navigation -->
      <nav class="flex-1 overflow-hidden flex flex-col items-center justify-around">
        <ul class="rounded-mini bg-foundation-green-light flex flex-col items-center justify-start p-[0.125rem] gap-6 mb-8">
          <li class="rounded-mini flex flex-row items-center justify-start py-4 px-5 active:border-[1px] border-solid border-foundation-green-light-active shadow-[0px_4px_4px_rgba(0,_0,_0,_0.08),_0px_4px_8px_rgba(50,_50,_71,_0.01)]">
              <a style="min-width: 20px" href="{% url 'dashboard' %}">
                  <img class="w-[1rem] relative h-[1rem] overflow-hidden shrink-0" alt="dashboard_icon" src="{% static "img/solarwidget4boldduotone.9680120d.svg" %}">
            </a>
          </li>
          <li class="rounded-mini overflow-hidden flex flex-row items-center justify-start py-4 px-5">
              <a style="min-width: 20px" href="{% url 'trips_list' %}">
                  <img class="w-[1rem] relative h-[1rem] overflow-hidden shrink-0" alt="trip_icon" src="{% static "img/solarrouting3lineduotone.983e010b.svg" %}">
            </a>
          </li>
          <li class="rounded-mini overflow-hidden flex flex-row items-center justify-start py-4 px-5">
              <a style="min-width: 20px" href="{% url 'vehicle_list' %}">
                  <img class="w-[1rem] relative h-[1rem] overflow-hidden shrink-0" alt="vehicle_icon" src="{% static "img/solarbuslineduotone.44930932.svg" %}">
            </a>
          </li>
          <li class="rounded-mini overflow-hidden flex flex-row items-center justify-start py-4 px-5">
              <a style="min-width: 20px" href="{% url 'employee_list' %}">
                  <img class="w-[1rem] relative h-[1rem] overflow-hidden shrink-0" alt="drivers_icon" src="{% static "img/solarusersgrouproundedlineduotone.a200ef7b.svg" %}">
            </a>
          </li>
          <li class="rounded-mini overflow-hidden flex flex-row items-center justify-start py-4 px-5">
              <a style="min-width: 20px" href="{% url 'inventory_list' %}">
                  <img class="w-[1rem] relative h-[1rem] overflow-hidden shrink-0" alt="inventory_icon" src="{% static "img/inventory_unselected.svg" %}">
            </a>
          </li>
        </ul>
      </nav>
      <!-- Navigation -->
    </div>
    <!-- Side Bar -->
   <!-- Main Screen rendered in here-->
    {% block sub_content %}

    {% endblock sub_content %}
    <!-- Main Screen rendered in here-->
  </div>
</section>
{% endblock main_content %}

<script>
  const navItems = document.querySelectorAll('.rounded-mini');  // Select all navigation items

  navItems.forEach(item => {
    item.addEventListener('click', function() {
      navItems.forEach(element => element.classList.remove('active'));  // Remove active class from all elements on click
      this.classList.add('active');  // Add active class to the clicked element
    });
  });
</script>

