{% extends 'base.html' %}

{% block content %}
<body>
    <div class="w-full relative bg-white h-screen overflow-hidden flex flex-row items-start justify-start text-left text-[1.5rem] text-foundation-grey-normal font-satoshi-body-small">
      <!-- Main Screen -->
      <div class="self-stretch flex-1 flex flex-col items-start justify-between">
        <div class="self-stretch bg-foundation-white-light flex flex-col items-start justify-start py-[1.25rem] px-[2.25rem] gap-[0.75rem_0rem] border-b-[1px] border-solid border-foundation-white-normal-hover">
          <!-- Header -->
          <div class="self-stretch overflow-hidden flex flex-row items-center justify-start gap-[0rem_2rem]">
            <div class="flex-1 relative leading-[120%] font-medium">
              Dashboard
            </div>
            <div class="flex flex-row items-center justify-start gap-[0rem_0.5rem] text-[1rem]">
              <img class="w-[1.5rem] relative h-[1.5rem]" alt="" src="/solarlogin3boldduotone.a3232c09.svg">

              <a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?');" class="relative leading-[120%]">Logout</a>
            </div>
          </div>
          <!-- Header -->
        </div>
        <div class="self-stretch flex flex-col items-start justify-center py-[1.5rem] px-[2rem] gap-[0.5rem_0rem] text-[2rem]">
          <div class="self-stretch flex flex-col items-start justify-start">
            <div class="relative leading-[120%] font-medium">
              Overview Summary
            </div>
          </div>
          <div class="self-stretch flex flex-col items-start justify-start text-[1rem] text-foundation-white-dark-active font-space-grostek-subheadline">
          </div>
        </div>
        <div class="self-stretch flex flex-row items-center justify-center py-[1.5rem] px-[2rem] gap-[0rem_2rem] text-[0.75rem]">
          <div class="flex-1 rounded-boundvariablesdata7 bg-foundation-blue-light flex flex-col items-start justify-start p-[1.5rem] box-border gap-[0.5rem] min-w-[12.5rem]">
            <b class="relative leading-[120%]">Total No. of Employees</b>
            <div class="relative text-[1.625rem] leading-[120%] font-medium font-space-grostek-subheadline">
              {{ employee_count }} Employees
            </div>
          </div>
          <div class="flex-1 rounded-boundvariablesdata7 bg-foundation-yellow-light flex flex-col items-start justify-start p-[1.5rem] box-border gap-[0.5rem] min-w-[12.5rem]">
            <b class="relative leading-[120%]">Total No. of Vehicles</b>
            <div class="relative text-[1.625rem] leading-[120%] font-medium font-space-grostek-subheadline">
              {{ vehicle_count }} Vehicles
            </div>
          </div>
          <div class="flex-1 rounded-boundvariablesdata7 bg-foundation-green-light flex flex-col items-start justify-start p-[1.5rem] box-border gap-[0.5rem] min-w-[12.5rem]">
            <b class="relative leading-[120%]">Total No. of Pending Trips</b>
            <div class="relative text-[1.625rem] leading-[120%] font-medium font-space-grostek-subheadline">
              {{ trip_count }} Trips
            </div>
          </div>
          <div class="flex-1 rounded-boundvariablesdata7 bg-foundation-red-light flex flex-col items-start justify-start p-[1.5rem] box-border gap-[0.5rem] min-w-[12.5rem]">
            <b class="relative leading-[120%]">Total No. of Maintenance orders</b>
            <div class="relative text-[1.625rem] leading-[120%] font-medium font-space-grostek-subheadline">
              {{ maintenance_order_count }} Orders
            </div>
          </div>
        </div>

        <!-- Trips Overview -->
        <div class="self-stretch h-[29.688rem] flex flex-col items-start justify-start py-[0rem] px-[2rem] box-border text-[1rem]">
          <div class="self-stretch flex flex-col items-start justify-center py-boundvariablesdata1 px-[0rem] gap-[0.5rem_0rem]">
            <div class="self-stretch flex flex-col items-start justify-start">
              <b class="relative leading-[120%]">Trips Overview</b>
            </div>
            <div class="self-stretch flex flex-col items-start justify-start text-foundation-white-dark-active font-space-grostek-subheadline">
            </div>
          </div>

          <!-- Trips Table -->
          <div class="relative overflow-x-auto py-6 px-9">
            <table class="w-full text-base text-left">
              <thead class="text-foundation-white-dark-active bg-foundation-grey-light">
                <tr>
                  <th scope="col" class="px-6 py-3">Vehicle ID</th>
                  <th scope="col" class="px-6 py-3">Drivers Name</th>
                  <th scope="col" class="px-6 py-3">Start Location</th>
                  <th scope="col" class="px-6 py-3">End Location</th>
                  <th scope="col" class="px-6 py-3">Planned Start Time</th>
                  <th scope="col" class="px-6 py-3">Planned End Time</th>
                  <th scope="col" class="px-6 py-3">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for trip in trips %}
                    <tr data-href="{% url 'trip_detail' trip.id %}" class="hover: cursor-pointer hover:bg-foundation-white-light-active">
                        <td>{{ trip.vehicle }}</td>
                        <td>{{ trip.driver_id }}</td>
                        <td>{{ trip.start_location }}</td>
                        <td>{{ trip.end_location }}</td>
                        <td>{{ trip.planned_start_time }}</td>
                        <td>{{ trip.planned_end_time }}</td>
                        <td>{{ trip.status }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Trips Table -->
        </div>
      </div>
      <!-- Main Screen -->
    </div>
  <script src="/Dashboard.1479a642.js"></script></body>
</body>
{% endblock %}
