
    {% block extra_head %}
        {{ map.header.render|safe }}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <title>Route between the locations</title>
        
    {% endblock %}
    
    {% block map %}
        <div id="map">
            {% if map %}
                {{ map.html.render|safe }}
                <script>
                    {{ map.script.render|safe }}
                </script>
            {% endif %}
        </div>
        
    {% endblock %}
