{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
        <style>
            body {
                margin: 0;
                padding: 0;
            }
            .grid-container {
                margin: 0;
                display: grid;
                grid-template-columns: 65% 30%;
            }
            #map {
                max-width: 60%;
                top: 63px;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            #form-container {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            @media (min-width: 1200px)
            .mt-5 {
                max-width: 100%;
            }
        </style>
    <div class="grid-container">
    {% block extra_head %}
        {{ map.header.render|safe }}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <title>Route between the locations</title>
    {% endblock %}

        <div id="map">
            {% if map %}
                {{ map.html.render|safe }}
                <script>
                    {{ map.script.render|safe }}
                </script>
            {% endif %}
        </div>

        <div id="form-container">
            <h2>Trip Assignment Form</h2>
            <form id="tripForm" method="post" action="{% url 'register_trip' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    {% endblock %}

