{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
        <style>
            body {
                margin: 0;
                padding: 0;
            }
            .grid-container {
                margin: 0;
                display: grid;
                grid-template-columns: 65% 30%;
            }
            #map {
                max-width: 60%;
                top: 63px;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            #form-container {
                grid-column-start: 2;
                grid-column-end: 3;
            }
            @media (min-width: 1200px)
            .mt-5 {
                max-width: 100%;
            }
        </style>
    <div class="grid-container">
        {% include "map.html" %}
        <div id="form-container">
            <h2>Trip Assignment Form</h2>
            <form id="tripForm" method="post" action="{% url 'register_trip' %}">
                {% csrf_token %}
                
                <label> {{ form.vehicle.label_tag }} </label>
                {% render_field form.vehicle %}
                
                <label> {{ form.driver_id.label_tag }} </label>
                {% render_field form.driver_id %}
                
                <label> {{ form.start_location.label_tag }} </label>
                {% render_field form.start_location %}
                
                <label> {{ form.end_location.label_tag }} </label>
                {% render_field form.end_location %}
                
                <label> {{ form.planned_start_time.label_tag }} </label>
                {% render_field form.planned_start_time %}
                
                <label> {{ form.planned_end_time.label_tag }} </label>
                {% render_field form.planned_end_time %}
                
                <label> {{ form.fuax_start.label_tag }} </label>
                {% render_field form.fuax_start %}
                
                <input type="text" name="faux_start" id="faux_start" hx-post="/get_coord/" hx-trigger="change" hx-target="#id_start_location" hx-swap="innerHTML">
                
                <button type="button">Update Map</button>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    {% endblock %}

